@charset "UTF-8";
@import "common/var";
@import "mixins/mixins";
@import "select-dropdown";
@include b(date-picker) {
  width: 200px;
  @include e(header) {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    .wl-date-picker__header-label {
      color: rgba(0, 0, 0, 0.85);
      font-size: 14px;
      line-height: 22px;
      font-weight: bold;
    }
  }
  @include e(prev-btn) {
    float: left;
  }
  @include e(next-btn) {
    float: right;
  }
  table {
    table-layout: fixed;
    width: 100%;
  }
}
@include b(picker-panel) {
  width: 322px;
  color: #606266;
  // border: 1px solid #e4e7ed;
  // box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  // border-radius: 4px;
  line-height: 30px;
  margin: 5px 0;
  @include e(icon-btn) {
    font-size: 12px;
    color: #303133;
    border: 0;
    background: transparent;
    cursor: pointer;
    outline: none;
    margin-top: 8px;
  }
  @include e(content) {
    position: relative;
    margin: 15px;
    width: 292px;
  }
}
@include b(date-table) {
  font-size: 12px;
  user-select: none;
  th {
    padding: 5px;
    color: #606266;
    // border-bottom: 1px solid #ebeef5;
    span {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.85);
      line-height: 22px;
      font-weight: bold;
    }
  }
  td.next-month, td.prev-month {
    color: rgba(0, 0, 0, 0.25);
  }
  td {
    width: 32px;
    height: 30px;
    padding: 4px 0;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    position: relative;
    div {
      height: 30px;
      padding: 3px 0;
      box-sizing: border-box;
    }
    span {
      width: 24px;
      height: 24px;
      display: block;
      margin: 0 auto;
      line-height: 24px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 2px;
      font-size: 14px;
      box-sizing: border-box;
    }
  }
  td.today span {
    color: #2681FF;
    font-weight: 700;
    border: 1px solid #2681FF;
  }
  td.current:not(.disabled) {
    span {
      color: #fff;
      background-color: #0073E5;
      font-weight: 700;
    }
  }
  td.available:not(.disable):hover {
    span {
      color: #0073E5;
      // font-weight: 700;
    }
  }
  td.disable {
    div {
      background-color: #f5f7fa;
      opacity: 1;
      cursor: not-allowed;
      color: #c0c4cc;
    }
  }
}
@include b(icon-d-arrow-left) {
  &::before {
    content: "\e644";
  }
}
@include b(icon-arrow-left) {
  &::before {
    content: "\e64b";
  }
}
@include b(icon-d-arrow-right) {
  &::before {
    content: "\e642";
  }
}
@include b(icon-arrow-right) {
  &::before {
    content: "\e64c";
  }
}