@import "common/var";
@font-face {
  font-family: "wlkj-iconfonts"; /* Project id 3566402 */
  src: url('#{$--font-path}/wlkj-iconfonts.woff') format('woff'), /* chrome, firefox */
       url('#{$--font-path}/wlkj-iconfonts.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  font-weight: normal;
  font-display: $--font-display;
  font-style: normal;
}

[class^="wl-icon-"], [class*=" wl-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wlkj-iconfonts' !important;
  speak: none;
  font-size: $--size-base;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wl-icon-revenue:before {
  content: "\e64f";
}

.wl-icon-profit:before {
  content: "\e650";
}

.wl-icon-CheckCircleOutline:before {
  content: "\e634";
}

.wl-icon-CalendarOutline:before {
  content: "\e635";
}

.wl-icon-AddCircleOutline:before {
  content: "\e636";
}

.wl-icon-CheckOutline:before {
  content: "\e637";
}

.wl-icon-ClockCircleOutline:before {
  content: "\e638";
}

.wl-icon-CloseCircleOutlined:before {
  content: "\e639";
}

.wl-icon-CloseOutlined:before {
  content: "\e63a";
}

.wl-icon-DeleteOutline:before {
  content: "\e63b";
}

.wl-icon-DragOutline:before {
  content: "\e63c";
}

.wl-icon-DownOutlined:before {
  content: "\e63d";
}

.wl-icon-EyeInvisibleOutline:before {
  content: "\e63e";
}

.wl-icon-FilterOutline:before {
  content: "\e63f";
}

.wl-icon-EllipsisOutlined:before {
  content: "\e640";
}

.wl-icon-EnvironmentOutline:before {
  content: "\e641";
}

.wl-icon-DoubleRightOutline:before {
  content: "\e642";
}

.wl-icon-EyeOutline:before {
  content: "\e643";
}

.wl-icon-DoubleLeftOutline:before {
  content: "\e644";
}

.wl-icon-PlusOutlined:before {
  content: "\e645";
}

.wl-icon-InformationCircleOutline:before {
  content: "\e646";
}

.wl-icon-UnlockOutline:before {
  content: "\e647";
}

.wl-icon-SearchOutline:before {
  content: "\e648";
}

.wl-icon-UpOutlined:before {
  content: "\e649";
}

.wl-icon-LockOutline:before {
  content: "\e64a";
}

.wl-icon-LeftOutline:before {
  content: "\e64b";
}

.wl-icon-RightOutline:before {
  content: "\e64c";
}

.wl-icon-UserOutline:before {
  content: "\e64d";
}

.wl-icon-UserCircleOutline:before {
  content: "\e64e";
}

.wl-icon-UserFilled:before {
  content: "\e61e";
}

.wl-icon-MinusSquareFilled:before {
  content: "\e620";
}

.wl-icon-RightCircleFilled:before {
  content: "\e621";
}

.wl-icon-SearchFilled:before {
  content: "\e622";
}

.wl-icon-UnlockFilled:before {
  content: "\e623";
}

.wl-icon-CaretDownFilled:before {
  content: "\e624";
}

.wl-icon-PlusSquareFilled:before {
  content: "\e625";
}

.wl-icon-UserCircleFilled:before {
  content: "\e626";
}

.wl-icon-DeleteFilled:before {
  content: "\e627";
}

.wl-icon-MinusCircleFilled:before {
  content: "\e628";
}

.wl-icon-LeftCircleFilled:before {
  content: "\e629";
}

.wl-icon-FilterFilled:before {
  content: "\e62a";
}

.wl-icon-InfoCircleFilled:before {
  content: "\e62b";
}

.wl-icon-LockFilled:before {
  content: "\e62c";
}

.wl-icon-CheckCircleFilled:before {
  content: "\e62d";
}

.wl-icon-CaretLeftFilled:before {
  content: "\e62e";
}

.wl-icon-CloseCircleFilled:before {
  content: "\e62f";
}

.wl-icon-CheckSquareFilled:before {
  content: "\e630";
}

.wl-icon-CaretRightFilled:before {
  content: "\e631";
}

.wl-icon-ClockCircleFilled:before {
  content: "\e632";
}

.wl-icon-CaretUpFilled:before {
  content: "\e633";
}

.wl-icon-AddCircleFilled:before {
  content: "\e61d";
}

.wl-icon-CalendarFilled:before {
  content: "\e61f";
}

.wl-icon-loading {
  animation: rotating 2s linear infinite
}

.wl-icon-ClockCircleFilled {
  animation: rotating 2s linear infinite
}
.wl-icon--right {
  margin-left: 5px;
}
@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}


