
@charset "UTF-8";
@import "common/var";
@import "mixins/mixins";
@import "mixins/utils";

@include b(tree) {
  position: relative;
  cursor: default;
  background: #fff;
  color: #606266;

  @include b(tree-node) {
    white-space: nowrap;
    outline: none;
    padding-left: 18px;
    @include e(content) {
      display: flex;
      align-items: center;
      height: 26px;
      font-size: 14px;
      // padding-left: 18px;
      cursor: pointer;
      >.wl-tree-node__expand-icon {
        padding: 6px;
      }
      >.el-tree-node__children {
        overflow: hidden;
        background-color: transparent;
    }
    }
    @include e(label) {
      font-size: 14px;
      margin-left: 6px;
    }
    @include e(expand-icon) {
      cursor: pointer;
      color: #c0c4cc;
      font-size: 12px;
      transform: rotate(0deg);
      transition: transform .3s ease-in-out;
      @include when(expanded) {
        transform: rotate(90deg);
        >.el-tree-node__children {
          display: block;
        }
      }
    } 

    .wl-icon-caret-right {
      width: 0;
      height: 0;
      // content: "";
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid #c0c4cc;
      font-size: 0;
      line-height: 0;
      margin-right: 6px;
      // transform: rotate(90deg);
      transform: rotate(0deg);
      transition: transform .3s ease-in-out;
    }
    .expanded{
      transform: rotate(90deg);
    }
  }
}